body {
    background-color: darkgrey;
}

button {
    background: white;
    border: 2px solid black;
    border-radius: 17px;
    height: 70px;
    width: 120px;
}


    .progress-container {
      width: 80%;
      height: 30px;
      background-color: #ddd;
      border-radius: 15px;
      margin: 20px auto;
      overflow: hidden;
    }

    #progress {
      height: 100%;
      width: 0%;
      background-color: #4caf50;
      line-height: 30px;
      color: white;
      text-align: center;
      transition: width 0.5s ease;
    }




