body {
    background-color: darkgrey;
    padding: 0;
    margin: 0;
}

button {
    background: white;
    border: 2px solid black;
    border-radius: 17px;
    height: 70px;
    width: 120px;

}
